.media {
  height: 250px;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.container {
  position: relative;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  z-index: 1;
  cursor: pointer;
}

.container:hover .overlay {
  opacity: 1;
}
