.heading {
  background-image: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.15)), url('../../images/ashim-d-silva-3Ijt7UkSBYE-unsplash.jpg');
  background-position: center center;
  background-size: cover;
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */
}

.nav-bar {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 2;
}

.divider {
  background-color: black;
}

.slides {
  background-image: linear-gradient(#86b0dd, #eed2c8);
  background-position: center center;
  background-size: cover;
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */
}

/* .snap-container {
  scroll-snap-type: y mandatory;
} */
